.modal
{
    display: none;
    position: fixed;
    overflow: auto;
    z-index: 1;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7); */
}

.formDiv
{
    
    padding-top: 3%;
    display: flex;
    text-align: center;
}

.studentForm
{
    background-image: url(Images/BG-Image.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    width: 300px;
    height: 480px;
    margin: auto;
    border-radius: 50px;
}

.closeFormButton
{
    position: absolute;
    z-index: 1;
    background-size: cover;
    background-image: url("Images/Close Icon Round.jpg");
    margin: px;
    height: 27px;
    width: 27px;
    margin-top: 3px;
    margin-left: 122px;
    font-size:x-large;
    border-radius: 100%;
}

.formHeading
{
    margin: auto;
    left: 0%;
    right: 0%;
    font-size:x-large;
    color:floralwhite;
    font-weight: bold;
}



input
{
    padding: 2%;
}

.yearLabel
{
    color:floralwhite;
}

.yearInput
{ 
    margin-left: 0%;
}



br#special
{
    display: block;
    content: '';
    margin-top: 10px;
}









